<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.dao.ShopMapper">

<insert id="productInsert" parameterType="product">
insert into com_product values (#{code}, #{pname}, #{price})
</insert>

<select id="productSelectAll" resultType="product">
select * from com_product
</select>

<insert id="salesInsert" parameterType="sales">
insert into com_sales (num, code, quantity) values (com_sales_seq.nextval, #{code}, #{quantity})
</insert>

<select id="salesSelectAll" resultType="sales">
select num, code, quantity, to_char(inputdate, 'yyyy.mm.dd hh:mi:ss') as inputdate from com_sales
</select>

<select id="getCode" parameterType="string" resultType="product">
select * from com_product where code = #{code}
</select>

<select id="getNum" parameterType="int" resultType="sales">
select * from com_sales where num = #{num}
</select>

<update id="salesUpdateCode" parameterType="sales">
update com_sales set code = #{code} where num = #{num}
</update>

<update id="salesUpdateQuantity" parameterType="sales">
update com_sales set quantity = #{quantity} where num = #{num}
</update>

<delete id="salesDelete" parameterType="int">
delete from com_sales where num = #{num}
</delete>

<select id="productSales" resultType="sales">
select cp.code, cp.pname, cs.quantity, (cp.price * cs.quantity) as price from com_product cp, com_sales cs where cp.code = cs.code
</select>

</mapper>
